<div id="bookmarks" class="flex flex-col gap-2 max-h-[500px] shadow-light overflow-y-scroll">
    <div th:each="cours, iterStat : ${bookmarked}">
        <div class="p-2 bg-white items-center rounded-md flex justify-between">
            <a
                class="hover:cursor-pointer hover:underline"
                th:text="${cours.getSousModule().getTitre()} + ' : ' + ${cours.getTitre()}"
                th:hx-get="'/cours/sommaire/api?id=' + ${cours.getId()}"
                th:hx-push-url="'/cours/sommaire?id=' + ${cours.getId()}"
                hx-target="#insert"
                hx-swap="innerHTML"
                hx-on::after-request="closeModal()"
                >
            </a>
                <div
                    class="rounded-full hover:cursor-pointer hover:bg-lightAccent p-1"
                    th:hx-patch="'/cours/bookmark?id=' + ${cours.getId()}"
                    th:hx-target="'#bookmarked-' + ${cours.getId()}"
                    hx-swap="outerHTML"
                    >
                    <img
                    class="min-w-[30px] min-h-[30px]"
                    th:id="'bookmarked-' + ${cours.getId()}"
                    width="30"
                    src="/img/icons/bookmark.svg"
                    style="filter: invert(73%) sepia(83%) saturate(1960%) hue-rotate(3deg) brightness(99%) contrast(108%);"
                    >
                </div>
        </div>
    </div>
</div>
<div id="schedueled" class="flex flex-col gap-2 max-h-[500px] shadow-light overflow-y-scroll">
    <div th:each="cours, iterStat : ${schedueled}">
        <div class="p-2 bg-white items-center rounded-md flex justify-between">
            <a
                class="hover:cursor-pointer hover:underline"
                th:text="${cours.getTitreSousModule()} + ' : ' + ${cours.getTitre()}"
                th:hx-get="'/cours/sommaire/api?id=' + ${cours.getId()}"
                th:hx-push-url="'/cours/sommaire?id=' + ${cours.getId()}"
                hx-target="#insert"
                hx-swap="innerHTML"
                hx-on::after-request="closeModal()"
                >
            </a>
                <div
                    class="rounded-full hover:cursor-pointer hover:bg-lightAccent p-1"
                    th:hx-patch="'/cours/finished?id=' + ${cours.getId()}"
                    th:hx-target="'#finished-' + ${cours.getId()}"
                    hx-swap="outerHTML"
                    >
                    <img
                    class="min-w-[30px] min-h-[30px]"
                    th:id="'finished-' + ${cours.getId()}"
                    width="30"
                    src="/img/icons/check.svg"
                    th:style="${cours.getFinished()} ? 'filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);' : _"
                    >
                </div>
        </div>
    </div>
</div>
