<div class="flex flex-col gap-5 items-center h-full">
    <div class="h-fit w-full flex flex-col items-center justify-start">
        <div class="relative top-0 left-0 w-full bg-primary h-[100px]"></div>
        <img class="relative top-[-72px] rounded-full" width="155" src="/img/blankPhotoProfil.webp">
        <div class="relative top-[-72px] p-3" th:insert="~{components/secondary-title :: h2(${presentation})}"></div>
    </div>
    <div class="relative top-[-72px]  flex flex-col justify-around p-2 gap-5 items-center">
        <div class="flex gap-2">
            <div class="text-primary">Né le : </div>
            <div th:text="${dateNaissance}">01/01/1970</div>
        </div>
        <div class="flex gap-2">
            <img src="/img/icons/email.svg">
            <div th:text="${email}">vincent@vincent.vincent</div>
        </div>
        <div class="flex gap-2">
            <img src="/img/icons/telephone.svg">
            <div th:text="${telephone}">0666666666</div>
        </div>
        <div class="grow"></div>
        <div th:if="${!_user.isAdministrateur()}" hx-get="profil/modifier" class="flex h-full justify-end items-center" hx-target="#modal" th:insert="~{components/buttons :: buttonPrimary('Modifier les informations')}"></div>
    </div>
</div>
