<th:block th:replace="~{pages/admin/modules/fragments/smodule-details/details.titre :: titre()}"></th:block>
<div id="smodule-photo" class="flex flex-col gap-2 p-5 items-center">
    <th:block th:replace="pages/admin/modules/fragments/smodule-details/details.photo"></th:block>
</div>
<div class="flex w-full h-full gap-2">
    <div class="flex flex-col w-full">
        <div class="flex flex-col w-full h-full">
            <h2 class="text-xl pb-2 font-poppins text-primary">Modules associés : </h2>
            <div id="modules-card" class="h-[50%]">
            </div>
        </div>
    </div>
</div>
