<!DOCTYPE html>
<html lang="fr" class="h-full w-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="htmx-config" content='{"historyCacheSize":0}'>
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/output.css}">
    <link rel="stylesheet" th:href="@{/styles/animations.css}">
    <link rel="stylesheet" th:href="@{/styles/modal.css}">
    <link rel="stylesheet" th:href="@{/styles/dragula.css}">
    <link rel="stylesheet" th:href="@{/styles/cours.css}">
    <link rel="stylesheet" th:href="@{/styles/addons.css}">
    <script src="/js/dragula.js"></script>
    <script src="/js/calendar.js"></script>
    <title>Digi-Learning</title>
</head>
<body class="flex flex-col xl:flex-row w-full h-full overflow-hidden">
    <th:block th:replace="~{components/navbar}"></th:block>
    <main hx-history="false" id="router-outlet" class="w-full bg-secondary">
        <div id="insert" th:insert="${insert}" class="w-full h-screen"></div>
    </main>
    <th:block th:replace="components/modal.nav"></th:block>
    <script src="/js/animation.post-forum.js"></script>
    <script src="/js/form-checking.js"></script>
    <script src="/js/animation.cours.js" type="module"></script>
    <script>
    </script>
</body>
</html>
