<section class="flex flex-col justify-start gap-10 h-full w-full p-5">
    <h2 class="text-5xl pt-5 font-poppins text-center text-primary">Bienvenue dans l'administration des modules</h2>
    <div class="flex flex-col gap-2 text-lg w-full self-center m-t-10 text-lightPrimary text-center">
        <div>Organisez ici les programmes des formations en leur associant des modules, et en associant des sous modules aux modules.</div>
        <div>
        <div class="text-2xl font-bold">
            Important : ces changements n'affectent que l'organisation des sessions de e-learning.  Pour changer le programme d'une formation en présentiel, rendez-vous sur Ypareo ou SID.
        </div>
    </div>
</section>
