<div id="smodules-liste" class="flex flex-col bg-white overflow-y-scroll text-primary p-2 border-2 rounded-md h-full w-1/3">
    <div class="overflow-y-scroll">
        <th:block th:each="smodule, iterStat : ${smodules}">
            <th:block th:replace="~{pages/admin/modules/fragments/details.smodules.liste-item :: item()}"></th:block>
        </th:block>
    </div>
    <div id="new-smodule"></div>
    <div class="grow"></div>
    <div class="flex justify-center w-full">
        <button 
            class="bg-primary disabled:brightness-75 p-2 text-white rounded-md hover:cursor-pointer hover:brightness-150"
            hx-post="/admin/modules/smodule"
            hx-target="#new-smodule"
            >Ajouter</button>
    </div>
</div>
