<div class="flex flex-col gap-2 w-full" th:fragment="textInput(label, id, placeholder)">
    <label th:for="${id}" th:text="${label}"></label>
    <input th:id="${id}" th:name="${id}" class="rounded-sm p-2 text-black w-full" type="text" th:placeholder="${placeholder}">
</div>
<div class="flex flex-col gap-2 w-full" th:fragment="password(label, id)">
    <label th:for="${id}" th:text="${label}"></label>
    <input th:id="${id}" th:name="${id}" class="rounded-sm p-2 text-black w-full" type="password">
</div>
<form class="flex flex-col w-4/5 gap-5 p-10" th:fragment="form(inputs, buttonText, target)" th:hx-post="${target}" hx-swap="outerHTML" hx-target="#error">
    <th:block th:replace="${inputs}"/>
    <span id="error" class="text-error"></span>
    <th:block th:replace="~{components/buttons :: buttonAccent(${buttonText})}"></th:block>
</form>
