<section class="flex flex-wrap w-full overflow-y-scroll overflow-x-hidden">
    <div
            th:each="m, iterStat : ${modules}"
            class="flex w-full overflow-visible md:w-1/2 md:min-w-1/2 lg:min-w-1/3 lg:w-1/3 p-3"
    >
        <div
                class="bg-grey hoverzoom hover:cursor-pointer overflow-hidden shadow-dark shadow-md rounded-md"
                th:hx-get="'/cours/module/api?id=' + ${m.getId()}"
                th:hx-push-url="'/cours/module?id=' + ${m.getId()}"
                hx-target="#cours-canvas"
                hx-swap="outerHTML"
                hx-preserve="#hamb"
        >
            <div class="flex min-h-[400px] min-w-full flex-col p-5 gap-2">
                <div class="text-center text-lg text-primary font-poppins" th:text="${m.getLibelle()}"></div>
                <img class="" width="600" height="600" th:src="'/img/malediction/' + ${m.getPhoto()}">
            </div>
        </div>
    </div>
</section>
