<div hidden id="modal-bg" class="absolute top-0 left-0 z-40 h-full bg-accent w-full bg-opacity-25"></div>
<aside id="modal" class="absolute z-50 top-0 bg-grey text-primary h-screen p-3 rounded-md w-full right-[-800px] sm:w-[800px]">
    <div class="flex justify-end w-full">
        <img alt="fermer" class="hover:cursor-pointer" src="/img/icons/close.svg" onclick="closeModal()">
    </div>
    <section class="flex flex-col gap-2 overflow-y-scroll">
        <div class="text-primary text-xl font-poppins">Mes marques pages</div>
        <div id="bookmarks" class="flex flex-col gap-2 max-h-[500px] shadow-light overflow-y-scroll">
        </div>
        <div class="text-primary text-lg font-poppins">Mes cours du jour</div>
        <div id="schedueled" class="flex flex-col gap-2 max-h-[500px] shadow-light overflow-y-scroll">
        </div>
    </section>
</aside>
