<section class="flex h-screen w-full">
    <div class="flex p-2 flex-col w-1/2 h-full items-center">
        <div class="bg-white w-full h-full rounded-lg shadow-md">
            <div class="flex flex-col h-full">
                <div class="flex w-full flex-wrap gap-3 items-center p-3">
                    <th:block th:replace="~{/components/text-option :: textOption('bold', 'Rendre le texte gras')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('italic', 'Rendre le texte italique')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('strikethrough', 'Barrer le texte')}"></th:block>
                    <button data-text-option
                        data-tooltip-target="tooltip-list"
                        id="list"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/list.svg">
                    </button>
                    <div id="tooltip-list"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Créer une liste
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button data-text-option 
                        data-tooltip-target="tooltip-ol"
                        id="ordered-list"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/ordered-list.svg">
                    </button>
                    <div id="tooltip-ol"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Créer une liste ordonnée
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button 
                        data-tooltip-target="tooltip-undo"
                        id="undo"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/undo.svg">
                    </button>
                    <div id="tooltip-undo"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Revenir en arrière
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button 
                        data-tooltip-target="tooltip-redo"
                        id="redo"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/redo.svg">
                    </button>
                    <div id="tooltip-redo"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Refaire
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button data-text-option 
                        data-tooltip-target="tooltip-link"
                        id="link"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/link.svg">
                    </button>
                    <div id="tooltip-link"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Insérer un lien
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button data-text-option
                        data-tooltip-target="tooltip-code-line"
                        id="code-line"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/code-line.svg">
                    </button>
                    <div id="tooltip-code-line"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Insérer du code
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div> 
                <div class="bg-greyDeep h-0.5 w-full"></div>
                <div class="flex w-full flex-wrap gap-3 items-center p-3">
                    <button data-text-option
                        data-tooltip-target="tooltip-title"
                        id="title"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/title.svg">
                    </button>
                    <div id="tooltip-title"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Insérer un titre
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <select id="heading" class="w-[150px] p-1 rounded-md bg-grey hover:cursor-pointer">
                        <option class="hover:cursor-pointer text-primary font-poppins text-5xl" value="h1">Gros titre</option>
                        <option class="hover:cursor-pointer text-primary font-poppins text-3xl" value="h2">Titre</option>
                        <option class="hover:cursor-pointer text-primary font-poppins text-xl" value="h3">Sous titre</option>
                    </select>
                    <button 
                        data-tooltip-target="tooltip-tableau"
                        data-text-option id="table"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/table.svg">
                    </button>
                    <div id="tooltip-tableau"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Insérer un tableau
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button data-text-option
                        data-tooltip-target="tooltip-citation"
                        id="citation"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/quote.svg">
                    </button>
                    <div id="tooltip-citation"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Insérer une citation
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <button data-text-option
                        data-tooltip-target="tooltip-code-block"
                        id="code-block"
                        class="hover:bg-grey h-[30px] border-2 rounded-md"
                        >
                        <img src="/img/text-icons/code-block.svg">
                    </button>
                    <div id="tooltip-code-block"
                        role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                        >
                        Insérer un bloque de code
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <label 
                        data-tooltip-target="tooltip-image"
                        id="photo"
                        class="hover:bg-grey hover:cursor-pointer h-[30px] border-2 rounded-md"
                        for="file-input"
                        >
                        <img src="/img/text-icons/img.svg">
                    </label>
                        <input onchange="uploadPhoto()" class="hidden" id="file-input" type="file">
                        <div id="tooltip-image"
                            role="tooltip"
                            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                            >
                            Ajouter une nouvelle image depuis votre PC.
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                <div class="p-3 flex flex-col h-full">
                    <textarea 
                        id="text-input" 
                        name="contenu"
                        hx-trigger="keyup changed delay:0.3s" 
                        th:hx-post="'/cours/admin/chapitre/contenu?id=' + ${id}"
                        hx-on::before-request="putInHistory()"
                        hx-on::after-request="hljs.highlightAll()"
                        hx-target="#markdown"
                        hx-swap="innerHTML"
                        class="border-grey border-2 rounded-md p-2 h-full" th:text="${contenu}"></textarea>
                </div>
                <div id="buttons" class="p-3 flex gap-3">
                    <button class="bg-lightPrimary p-2 text-white disabled:brightness-75 rounded-md hover:cursor-pointer hover:brightness-150">Publier</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex p-2 flex-col w-1/2 h-full items-center">
        <div class="bg-white w-full h-full rounded-lg shadow-md p-5 overflow-y-scroll">
            <article class="" id="markdown" th:utext="${contenuHTML}">
            </article>
        </div>
    </div>
  <script src="/js/cours.text-editor.js"></script>
  <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
  <script th:text="'initTextEditor(' + ${id} + ')'" defer></script>
  <script>hljs.highlightAll();</script>
</section>
