<section class="flex h-screen w-full">
    <div class="flex p-2 flex-col w-1/2 h-full items-center">
        <div class="bg-white w-full h-full rounded-lg shadow-md">
            <div class="flex flex-col h-full w-full">
                <div class="flex w-full flex-wrap gap-3 items-center p-3">
                    <th:block th:replace="~{/components/text-option :: textOption('bold', 'Rendre le texte gras')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('italic', 'Rendre le texte italique')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('strikethrough', 'Barrer le texte')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('list', 'Créer une liste')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('ordered-list', 'Créer une liste ordonnée')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: editorOption('undo', 'Revenir en arrière')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: editorOption('redo', 'Refaire')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('link', 'Insérer un lien')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('code-line', 'Insérer du code')}"></th:block>
                </div> 
                <div class="bg-greyDeep h-0.5 w-full"></div>
                <div class="flex w-full flex-wrap gap-3 items-center p-3">
                    <th:block th:replace="~{/components/text-option :: textOption('title', 'Insérer un titre')}"></th:block>
                    <select id="heading" class="w-[150px] p-1 rounded-md bg-grey hover:cursor-pointer">
                        <option class="hover:cursor-pointer text-primary font-poppins text-5xl" value="h1">Gros titre</option>
                        <option class="hover:cursor-pointer text-primary font-poppins text-3xl" value="h2">Titre</option>
                        <option class="hover:cursor-pointer text-primary font-poppins text-xl" value="h3">Sous titre</option>
                    </select>
                    <th:block th:replace="~{/components/text-option :: textOption('table', 'Insérer un tableau')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('quote', 'Insérer une citation')}"></th:block>
                    <th:block th:replace="~{/components/text-option :: textOption('code-block', 'Insérer un bloque de code')}"></th:block>
                    <label 
                        data-tooltip-target="tooltip-image"
                        id="photo"
                        class="hover:bg-grey hover:cursor-pointer w-[30px] flex items-center justify-center h-[30px] border-2 rounded-md"
                        for="file-input"
                        >
                        <img src="/img/text-icons/img.svg">
                    </label>
                        <input onchange="uploadPhoto()" class="hidden" id="file-input" type="file">
                        <div id="tooltip-image"
                            role="tooltip"
                            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-dark rounded-lg shadow-sm opacity-0 tooltip"
                            >
                            Ajouter une nouvelle image depuis votre PC.
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                    <form class="flex flex-col h-full w-full justify-between">
                        <div class="p-3 flex flex-col h-full">
                            <textarea 
                                id="text-input" 
                                name="contenu"
                                hx-trigger="keyup changed delay:0.3s" 
                                th:hx-post="'/cours/admin/chapitre/contenu?id=' + ${id}"
                                hx-on::after-request="hljs.highlightAll(); putInHistory()"
                                hx-sync="closest form:abort"
                                hx-target="#markdown"
                                hx-swap="innerHTML"
                                class="border-grey border-2 rounded-md p-2 h-full" th:text="${contenu}"></textarea>
                        </div>
                        <div id="buttons" class="p-3 flex gap-3 justify-between items-center">
                            <button 
                                type="submit"
                                th:hx-post="'/cours/admin/chapitre/publier?id=' + ${id}"
                                hx-target="#info"
                                hx-swap="outerHTML"
                                class="bg-lightPrimary p-2 text-white disabled:brightness-75 rounded-md hover:cursor-pointer hover:brightness-150"
                                >Publier</button>
                            <div id="info" th:class="${classAJour}" th:text="${aJour}"></div>
                            <div 
                                class="justify-self-end hover:cursor-pointer"
                                onclick="openModalBot()"
                                ><img class="w-[30px] h-[30px]" src="/img/icons/delete.svg">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="flex p-2 flex-col w-1/2 h-full items-center">
        <div class="bg-white w-full h-full rounded-lg shadow-md p-5 overflow-y-scroll">
            <article class="" id="markdown" th:utext="${contenuHTML}">
            </article>
        </div>
    </div>
    <th:block th:replace="~{/components/modal/modal.bottom :: modalBg( ~{::#modal-content})}">
        <div class="text-xl text-error w-full flex flex-col items-center gap-5 p-3" id="modal-content">
            <div>Êtes-vous sur de bien vouloir supprimer ce chapitre ?</div>
            <div class="flex gap-2">
                <button 
                    class="bg-accent p-2 text-white disabled:brightness-75 rounded-md hover:cursor-pointer hover:brightness-150"
                    th:hx-delete="'/cours/admin/chapitre?id=' + ${id}"
                    hx-target="#insert"
                    >Oui</button>
                <button 
                    class="bg-primary disabled:brightness-75 p-2 text-white rounded-md hover:cursor-pointer hover:brightness-150"
                    onclick="closeModalBot()"
                    >Non</button>
            </div>
        </div>
    </th:block>
    <script th:insert="scripts/flowbite.min.js"></script>
    <script src="/js/cours.text-editor.js"></script>
    <script src="/js/animation.modal.js"></script>
    <script>hljs.highlightAll();</script>
</section>
