<div class="flex flex-col h-full w-full text-lg">
    <th:block th:if="${question != null}">
        <div class="flex w-full">
            <form class="flex flex-col grow w-1/2 p-2 gap-2">
                <div class="text-xl w-full font-poppins text-center text-primary">Question</div>
                <label 
                    for="message"
                    >Libelle : </label>
                <input 
                    class="rounded-sm p-2 text-black w-full"
                    type="text"
                    id="question"
                    name="message"
                    hx-trigger="keyup changed delay:0.3s" 
                    th:hx-patch="'/cours/admin/qcm/question?id=' + ${question.getId()}"
                    th:hx-target="'#question-' + ${question.getId()}"
                    hx-swap="outerHTML"
                    th:value="${question.getLibelle()}"
                    hx-on::before-request="document.querySelector('#error').innerText = ''"
                >
                <div id="error" class="text-error"></div>
            </form>
            <div class="p-2 w-1/2">
                <form 
                    class="flex flex-col w-full gap-2"
                    th:hx-post="'/cours/admin/qcm/choix?id=' + ${question.getId()}"
                    hx-target="#choix-liste"
                    hx-on::before-request="document.querySelector('#error-choix').innerText = ''"
                    hx-on::after-request="this.reset()"
                    >
                    <div class="text-xl w-full font-poppins text-center text-primary">Nouvelle réponse</div>
                    <div class="flex flex-col justify-center gap-2">
                        <label for="libelle">Libelle : </label>
                        <input type="text" class="rounded-sm p-2 text-black w-full" id="libelle" name="libelle">
                    </div>
                    <div>
                        <label class="pr-5" for="valid">Bonne réponse : </label>
                        <input type="checkbox" id="valid" name="valid" value="true">
                    </div>
                    <button type="submit" class="bg-primary disabled:brightness-75 p-2 text-white rounded-md hover:cursor-pointer hover:brightness-150">Ajouter la réponse</button>
                    <div id="error-choix" class="text-error"></div>
                </form>
            </div>
        </div>
        <div class="h-0.5 bg-greyDeep w-full"></div>
        <div id="choix-liste" class="flex flex-col grow">
            <th:block th:replace="~{pages/cours/admin/fragments/qcm.choix.liste}"></th:block>
        </div>
    </th:block>
</div>
