<div 
    class="absolute top-50 right-6 hover:cursor-pointer"
    th:if="${question.getIllustration() != null}"
    th:hx-delete="'/cours/admin/qcm/question/illustration?id=' + ${question.getId()}"
    hx-target="#qcm-illustration"
    >x</div>
<div class="flex flex-col w-full h-[300px] items-center justify-center rounded-md border-2 border-primary">
    <span th:if="${question.getIllustration() == null}">Pas d'image à afficher</span> 
    <img class="h-full" th:unless="${question.getIllustration() == null}" th:src="'/photo?name=' + ${question.getIllustration()}">
</div>
