<script th:insert="scripts/drag-drop.qcm.js"></script>
<div class="flex flex-col grow py-2">
    <div 
        class="text-xl font-poppins text-white text-center p-2"
        th:text="${qcm.getNomAndStatus()}"
        ></div>
    <div 
        class="flex flex-col w-full gap-1"
        data-draggable1
        >
        <th:block th:each="question, iterStat : ${qcm.getQcmQuestionsPubliees()}">
            <th:block th:replace="~{pages/cours/admin/fragments/qcm.question.list-item}"></th:block>
        </th:block>
    </div>
</div>
<div class="flex justify-center items-center align-self-end p-2">
    <button 
        class="h-[30px] w-[30px] font-bold rounded-full hover:cursor-pointer hover:bg-accent bg-lightAccent text-primary"
        th:hx-post="'/cours/admin/qcm/new?id=' + ${qcm.getId()}"
        hx-target="#insert"
        >+</button>
</div>
