<section 

    th:fragment="cours(id, date, dureeEstimee, cours)"
    hx-history="false"    

    th:id="${id}"
    th:data-dragged="${date}"
    th:class="'relative hover:cursor-move flex bg-lightPrimary text-white shadow-dark w-full overflow-y-visible shadow-md rounded-md h-[' + ${dureeEstimee} + '00%]'"
    >
    <a 
        class="p-2 hover:cursor-pointer grow overflow-hidden"
        th:text="${cours.getTitre()}"
        th:hx-get="'/cours/sommaire/api?id=' + ${cours.getId()}"
        th:hx-push-url="'/cours/sommaire?id=' + ${cours.getId()}"
        hx-target="#insert"
        hx-swap="innerHTML transition:true"
        ￼
        ></a>
</section>

