<section class="flex flex-col w-full h-full" id="forum-canvas" xmlns:hx-on="http://www.w3.org/1999/xhtml">
    <th:block th:replace="~{pages/fragments/forum/fil.forum.body}"></th:block>
    <footer
            class="flex flex-col tg-white self-end w-full"
    >
        <div class="flex gap-3 flex p-5 flex justify-center w-full shadow-[0px_-8px_6px_2px_#00000024] left-0">
            <div
                    th:hx-get="'/forum/salon/api?id=' + ${id}"
                    th:hx-push-url="'/forum/salon?id=' + ${id}"
                    hx-target="#forum-canvas"
                    hx-swap="outerHTML transition:true"
            >
                <th:block
                        th:replace="~{components/buttons :: buttonPrimary('Retour à la liste des sujets')}"></th:block>
            </div>
            <div
                    onclick="openPost()"
            >
                <th:block
                        th:replace="~{components/buttons :: buttonAccentDis('Répondre', ${fil.getFerme()})}"></th:block>
            </div>
        </div>
        <div id="post-new" class="p-3" hidden="true">
            <div class="flex w-full justify-end">
                <img class="hover:cursor-pointer" onclick="closePost()" onkeydown="if(event.keyCode === 13) closePost()" src="/img/icons/close.svg">
            </div>
            <form
                    class="flex items-end gap-2"
                    th:hx-post="'/forum/message?id=' + ${fil.getId()} + '&page=' + ${nbPages}"
                    hx-swap="outerHTML"
                    hx-target="#forum-canvas"
            >
                <div class="flex flex-col gap-2 w-full">
                    <label for="message">Votre message : </label>
                    <div id="error"></div>
                    <textarea
                            id="message"
                            name="message"
                            onkeydown="submitOnEnter(event)"
                            class="rounded-sm focus:border-accent p-2 text-black w-full border-2 border-primary"
                    ></textarea>
                </div>
                <button type="submit">
                    <img width="50" src="/img/icons/send-message.svg">
                </button>
            </form>
        </div>
    </footer>
</section>