<section id="forum-canvas" class="flex flex-col justify-start gap-10 bg-grey h-full w-full p-5">
    <h2 class="text-5xl pt-5 font-poppins text-center text-primary">Bienvenu sur le forum de diginamic !</h2>
    <h3 class="text-2xl text-lightPrimary text-center">
        Échanger, S'informer, Communiquer, Partager
    </h3>
    <div class="flex flex-col justify-center items-center">
        <blockquote class="p-5 italic w-1/2 h-full">
            “Tout groupe humain prend sa richesse dans la communication, l’entraide et la solidarité visant à un but
            commun : l’épanouissement de chacun dans le respect des différences.”
        </blockquote>
        <div class=""> De Françoise Dolto</div>
    </div>
    <div class="text-lg w-3/5 self-center m-t-10 text-lightPrimary text-justify">
        Retrouvez-ici des discussions sur des sujets divers et variés, allant de l'entrée
        en formation à la veille technologique en passant par des sujets plus personnels. Échangez avec les membres de votre session, partagez
        vos centres d'intérêts, vos découvertes, débattez dans le respect de vos camarades de formation.<br>
        N'oubliez pas que la réussite d'un parcours ne se construit jamais seul, mais accompagnée de nos camarades !
    </div>
</section>