<!--/*@thymesVar id="cours" type="fr.diginamic.digilearning.entities.Cours"*/-->
<!--/*@thymesVar id="chapitre" type="fr.diginamic.digilearning.entities.Chapitre"*/-->
<!--/*@thymesvar id="question" type="fr.diginamic.digilearning.entities.Question"*/-->
<!--/*@thymesVar id="idUtilisateur" type="java.lang.Long"*/-->
<div class="flex flex-col w-1/6 text-center" th:if="${cours.getChapitrePrecedent(chapitre.getOrdre())}">
    <a
        class="underline hover:cursor-pointer"
        th:hx-get="'/cours/chapitre/api?id='
        + ${cours.getChapitrePrecedent(chapitre.getOrdre()).getOrdre()}
        + '&cours=' + ${cours.getId()}"
        th:href="'/cours/chapitre?id='
        + ${cours.getChapitrePrecedent(chapitre.getOrdre()).getOrdre()}
        + '&cours=' + ${cours.getId()}"
        th:hx-push-url="'/cours/chapitre?id='
        + ${cours.getChapitrePrecedent(chapitre.getOrdre()).getOrdre()}
        + '&cours=' + ${cours.getId()}"
        hx-target="#chapitre-cours"
        hx-swap="outerHTML transition:true"
        hx-select="#chapitre-cours"
        >Chapitre précédent</a>
</div>
<div class="flex flex-col w-1/6 text-center" th:unless="${cours.getChapitrePrecedent(chapitre.getOrdre())}">
    <a
        class="underline hover:cursor-pointer"
        th:hx-get="'/cours/sommaire/api?id=' + ${cours.getId()}"
        th:hx-push-url="'/cours/sommaire?id=' + ${cours.getId()}"
        hx-target="#chapitre-cours"
        hx-swap="outerHTML"
        hx-select="#chapitre-cours"
        >Sommaire</a>
</div>
<div class="w-2/3 p-3 text-center text-5xl font-poppins" th:text="${chapitre.getLibelle()}"></div>
<div class="flex flex-col w-1/6 text-center" th:if="${cours.getChapitreSuivant(chapitre.getOrdre())}">
    <a
        class="underline hover:cursor-pointer"
        th:hx-get="'/cours/chapitre/api?id='
        + ${cours.getChapitreSuivant(chapitre.getOrdre()).getOrdre()}
        + '&cours=' + ${cours.getId()}"
        th:hx-push-url="'/cours/chapitre?id='
        + ${cours.getChapitreSuivant(chapitre.getOrdre()).getOrdre()}
        + '&cours=' + ${cours.getId()}"
        th:href="'/cours/chapitre?id='
        + ${cours.getChapitreSuivant(chapitre.getOrdre()).getOrdre()}
        + '&cours=' + ${cours.getId()}"
        hx-target="#chapitre-cours"
        hx-swap="outerHTML transition:true"
        hx-select="#chapitre-cours"
        >Chapitre suivant</a>
</div>
<div class="flex flex-col w-1/6 text-center" th:unless="${cours.getChapitreSuivant(chapitre.getOrdre())}">
    <a
        class="underline hover:cursor-pointer"
        th:hx-get="'/cours/sommaire/api?id=' + ${cours.getId()}"
        th:hx-push-url="'/cours/sommaire?id=' + ${cours.getId()}"
        hx-target="#chapitre-cours"
        hx-swap="outerHTML"
        hx-select="#chapitre-cours"
        >Sommaire</a>
</div>
