<!--/*@thymesVar id="cours" type="fr.diginamic.digilearning.entities.Cours"*/-->
<!--/*@thymesVar id="chapitre" type="fr.diginamic.digilearning.entities.Chapitre"*/-->
<!--/*@thymesvar id="question" type="fr.diginamic.digilearning.entities.Question"*/-->
<!--/*@thymesVar id="idUtilisateur" type="java.lang.Long"*/-->
<section id="chapitre-cours" class="flex flex-col gap-5 bg-grey overflow-hidden shadow-dark h-full w-full p-5 shadow-md rounded-md"
>
    <header class="flex justify-center p-2 max-h-[150px] min-h-[150px] rounded-md text-white bg-primary items-center gap-3">
        <th:block th:replace="~{pages/cours/visionneuse/fragments/chapitre.entete}"></th:block>
    </header> 
        <th:block th:replace="~{pages/cours/visionneuse/fragments/chapitre.body}"></th:block>
</section>
