<!--/*@thymesVar id="cours" type="fr.diginamic.digilearning.entities.Cours"*/-->
<!--/*@thymesVar id="chapitre" type="fr.diginamic.digilearning.entities.Chapitre"*/-->
<!--/*@thymesvar id="question" type="fr.diginamic.digilearning.entities.question"*/-->
<!--/*@thymesVar id="idUtilisateur" type="java.lang.Long"*/-->
<section id="chapitre-cours" class="flex flex-col gap-5 bg-grey overflow-hidden shadow-dark h-full w-full lg:w-2/3 p-5 shadow-md rounded-md"
>
    <header class="flex justify-center p-2 max-h-[150px] min-h-[150px] rounded-md text-white bg-primary items-center gap-3">
        <div class="flex flex-col w-1/6 text-center" th:if="${cours.getChapitrePrecedent(chapitre.getOrdre())}">
            <div>Chapitre précédent :</div>
            <a
                    class="underline hover:cursor-pointer"
                    th:text="${cours.getChapitrePrecedent(chapitre.getOrdre()).getLibelle()}"
                    th:hx-get="'/cours/chapitre/api?id='
                            + ${cours.getChapitrePrecedent(chapitre.getOrdre()).getOrdre()}
                            + '&cours=' + ${cours.getId()}"
                    th:hx-push-url="'/cours/chapitre?id='
                            + ${cours.getChapitrePrecedent(chapitre.getOrdre()).getOrdre()}
                            + '&cours=' + ${cours.getId()}"
                    hx-target="#chapitre-cours"
                    hx-swap="outerHTML transition:true"
                    hx-select="#chapitre-cours"
            ></a>
        </div>
        <div class="flex flex-col w-1/6 text-center" th:unless="${cours.getChapitrePrecedent(chapitre.getOrdre())}">
            <a
                    class="underline hover:cursor-pointer"
                    th:hx-get="'/cours/sommaire/api?id=' + ${cours.getId()}"
                    th:hx-push-url="'/cours/sommaire?id=' + ${cours.getId()}"
                    hx-target="#chapitre-cours"
                    hx-swap="outerHTML"
                    hx-select="#chapitre-cours"
            >Sommaire</a>
        </div>
        <div class="w-2/3 p-3 text-center text-5xl font-poppins" th:text="${chapitre.getLibelle()}"></div>
        <div class="flex flex-col w-1/6 text-center" th:if="${cours.getChapitreSuivant(chapitre.getOrdre())}">
            <div>Chapitre suivant :</div>
            <a
                    class="underline hover:cursor-pointer"
                    th:text="${cours.getChapitreSuivant(chapitre.getOrdre()).getLibelle()}"
                    th:hx-get="'/cours/chapitre/api?id='
                            + ${cours.getChapitreSuivant(chapitre.getOrdre()).getOrdre()}
                            + '&cours=' + ${cours.getId()}"
                    th:hx-push-url="'/cours/chapitre?id='
                            + ${cours.getChapitreSuivant(chapitre.getOrdre()).getOrdre()}
                            + '&cours=' + ${cours.getId()}"
                    hx-target="#chapitre-cours"
                    hx-swap="outerHTML transition:true"
                    hx-select="#chapitre-cours"
            ></a>
        </div>
        <div class="flex flex-col w-1/6 text-center" th:unless="${cours.getChapitreSuivant(chapitre.getOrdre())}">
            <a
                    class="underline hover:cursor-pointer"
                    th:hx-get="'/cours/sommaire/api?id=' + ${cours.getId()}"
                    th:hx-push-url="'/cours/sommaire?id=' + ${cours.getId()}"
                    hx-target="#chapitre-cours"
                    hx-swap="outerHTML"
                    hx-select="#chapitre-cours"
            >Sommaire</a>
        </div>
    </header>
    <div class="flex flex-col overflow-hidden">
        <!--/*@thymesVar id="contenu" type="java.lang.String"*/-->
        <div class="flex overflow-x-hidden w-full">
            <div class="flex min-w-full flex-col w-full overflow-y-scroll">
                <div id="cours-content">
                    <article class="" id="markdown" th:utext="${contenu}">
                    </article>
                    <div th:if="${chapitre.getLienVideo() != null}" class="flex h-[460px] justify-center pt-5"
                         th:utext="${chapitre.getLienVideo()}"></div>
                </div>
            </div>
            <th:block th:replace="pages/cours/visionneuse/fragments/chapitre.questions"></th:block>
        </div>
        <button
                onclick="carousel()"
                class="justify-self-end bg-accent p-2 text-primary disabled:brightness-75 hover:cursor-pointer hover:brightness-150"
        >Afficher / cacher les questions - réponses</button>
    </div>
    <div id="modal-bg" class="fixed top-0 left-0 w-screen h-screen bg-accent bg-opacity-25 z-40" hidden="true">
        <section id="modal-bot" class="absolute bottom-0 bg-grey rounded-md p-1 w-full ">
        </section>
    </div>
    <script src="/js/animation.modal.js"></script>
    <script src="/js/animation.cours.js"></script>
</section>
