<section class="flex p-2 bg-white h-full gap-1">
    <div class="flex flex-col bg-primary text-white rounded-md w-1/5 h-full shadow-dark shadow-md ">
        <h1 class="text-2xl font-poppins text-center py-2">Mon agenda</h1>
        <div data-draggable1="true" class="flex overflow-y-scroll flex-col px-1 gap-1">
            <div 
                th:id="${c.getId()}"
                class="relative text-white bg-lightPrimary w-full rounded-md z-50 hover:cursor-move hover:brightness-150 drag-peasant"
                th:each="c, iterStat : ${cours}">
                <div 
                    class="p-2 hover:cursor-pointer"
                    th:text="${c.getTitre()}"
                    th:hx-get="'/cours/sommaire/api?id=' + ${c.getId()}"
                    th:hx-push-url="'/cours/sommaire?id=' + ${c.getId()}"
                    hx-target="#insert"
                    hx-swap="innerHTML"
                    ></div>
            </div>
        </div>
    </div>
    <th:block th:replace="pages/fragments/agenda/agenda.calendar"></th:block>
</section>
