<!doctype html>
<html lang="fr" class="h-full w-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/output.css}">
    <title>Digi-Learinputsinputsning</title>
</head>
<body class="flex flex-col h-full w-full">
<img class="absolute top-0 left-0 z-0 h-full" src="/img/background-login.webp">
<main class="flex w-full h-full">
    <div class="h-full w-1/2 z-0"></div>
    <div class="flex flex-col h-full w-1/2 bg-primary rounded-md z-10 shadow-xl shadow-black text-white items-center justify-center">
        <img class="h-[200px]" src="/img/logoDiginamicBleu.webp">
        <h1 class="flex p-5 font-poppins items-center text-5xl text-center font-bold">DIGILEARNING</h1>
        <h2 class="flex p-5 font-poppins items-center text-3xl text-center">Me connecter</h2>
        <th:block th:replace="~{components/form :: form(~{pages/fragments/login.fragment}, 'Connexion', 'login')}"/>
    </div>
</main>
</body>