<div id="module" class="flex flex-col h-screen">
    <div class="flex justify-center gap-5 font-poppins text-5xl bg-grey text-primary p-5" >
        <img
                class="w-[50px] hover:cursor-pointer"
                src="/img/icons/back.svg"
                hx-get="/cours/api"
                hx-push-url="/cours"
                hx-target="#module"
                hx-swap="outerHTML transition:true"
        >
        <div class="flex-grow text-center" th:text="${titre}"></div>
        <th:block th:replace="/pages/fragments/cours/cours.hamb"></th:block>
    </div>
    <th:block th:replace="~{pages/fragments/module/module.main}"></th:block>
</div>
