<div class="flex flex-col h-full">
    <div class="h-fit" th:insert="~{components/title :: header('Mon profil')}"></div>
    <div class="flex flex-col md:flex-row h-full w-full overflow-y-scroll">
        <div class="flex w-full md:w-1/3 gap-10 p-5 h-full">
            <div class="w-full text-lg h-full" th:insert="~{components/containers/card :: cardFull(~{pages/fragments/profil/left-card.fragment})}"></div>
        </div>
        <div class="flex flex-col justify-start items-start w-full md:w-2/3 gap-5 md:overflow-y-scroll p-5 h-full">
            <div class="flex p-2 gap-2 w-full">
                <section class="w-full bg-grey p-5 text-lg rounded-md shadow-dark shadow-md flex flex-col items-center">
                    <div class="text-lightPrimary text-2xl p-5 font-poppins"> Ma progression : </div>
                <div 
                    id="progres"
                    class="flex flex-col w-full gap-2 p-2"
                    >
                    <th:block th:replace="~{components/progress-bar :: progresTitle(${progresCours}, 'Progrès général : ')}"></th:block>
                    <th:block th:replace="~{components/progress-bar :: progresTitle(${progresJour}, 'Progrès du jour : ')}"></th:block>
                </div>
                </section>
            </div>
            <div class="flex p-2 gap-2 w-full">
                <section th:if="${schedueled.size()} > 0" class="w-full bg-grey p-5 text-lg rounded-md shadow-dark shadow-md flex flex-col items-center">
                    <div class="text-lightPrimary text-2xl p-5 font-poppins"> Mes cours du jour : </div>
                    <div class="flex flex-col gap-2 w-full px-3">
                        <div class="flex justify-between text-primary w-full rounded-md p-2 bg-white" th:each="c, iterStat : ${schedueled}" >
                            <a 
                                class="hover:cursor-pointer"
                                th:text="${c.getTitre()}"
                                th:hx-get="'/cours/sommaire/api?id=' + ${c.getId()}"
                                th:hx-push-url="'/cours/sommaire?id=' + ${c.getId()}"
                                hx-target="#insert"
                                hx-swap="innerHTML transition:true"
                                ></a>
                            <div class="flex items-center gap-1">
                                <div th:text="'Prévu à ' + ${dateUtil.getHeure(c.getDatePrevue())}"></div>
                                <div
                                    class="rounded-full hover:cursor-pointer hover:bg-lightAccent p-1"
                                    th:hx-patch="'/cours/finished/progress?id=' + ${c.getId()}"
                                    th:hx-target="'#finished-' + ${c.getId()}"
                                    th:hx-select="'#finished-' + ${c.getId()}"
                                    hx-select-oob="#progres"
                                    hx-swap="outerHTML"
                                    >
                                    <img
                                    class="min-w-[30px] min-h-[30px]"
                                    th:id="'finished-' + ${c.getId()}"
                                    width="30"
                                    src="/img/icons/check.svg"
                                    th:style="${c.getFinished()} ? 'filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);' : _"
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <th:block th:replace="~{/components/bookmarked-list}"></th:block>
        </div>
    </div>
</div>
