<section class="flex flex-col h-screen">
    <th:block th:replace="~{components/entete.nav :: entete('Cours')}"></th:block>
    <div class="flex flex-col p-3 gap-3">
        <div th:if="${user.isFormateur()}" class="flex flex-col h-full">
            <h2 class="text-primary font-poppins text-3xl p-3 bg-white">Gérer mes cours</h2>
            <div class="text-primary p-3 bg-white" th:each="c, iterStat : ${coursCrees}">
                <a class="hover:cursor-pointer hover:underline" th:href="'/cours/admin/editer?id=' + ${c.getId()}" th:text="${c.getSousModule().getTitre() + ' : ' + c.getTitre()}"></a>
            </div>
        </div>
        <div class="flex justify-center">
            <button class="h-[30px] w-[30px] text-white font-bold rounded-full hover:cursor-pointer hover:brightness-150 bg-lightPrimary">+</button>
        </div>
    </div>
</section>
