<div class="p-2 flex h-full">
    <div class="flex flex-col bg-grey p-5 tet-center h-full gap-5 rounded-md">
        <h1 class="text-5xl text-primary font-poppins">Votre accès au forum est restreint.</h1>
        <section class="text-primary text-2xl">Après évaluation de vos différents messages posté sur les différents salons de ce forum, nous avons décidé de vous restreindre l'accès à la totalité de la section forum. Vous pouvez toujours discuter avec vos responsable de session, mais vous ne pouvez accéder au forum.</section>
    </div>
</div>
