<!doctype html>
<html lang="fr" class="h-full w-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/styles/output.css}">
    <title>Digi-Learning</title>
</head>
<body class="flex w-full h-full">
    <div hx-get="/components/navbar" hx-target="this" hx-swap="outerHTML" hx-trigger="load"></div>
    <main id="router-outlet" class="w-full bg-secondary">
        <div th:insert="${insert}" class="w-full"></div>
    </main>
</body>
</html>
