<section class="flex flex-col w-full h-full">
    <div class="bg-white rounded-md h-1/2 border-2 p-2 border-black">
        <th:block th:each="sujet, iterStat : ${sujets}">
            <div
                th:data-id="${sujet.getId()}"
                th:data-libelle="${sujet.getLibelle()}"
                >
                <div class="flex w-full gap-2 items-center hover:cursor-pointer">
                    <div class="w-[15px]">
                        <th:block th:replace="svg/icons/module :: svg('15', '15')"></th:block>
                    </div>
                    <div class="truncate" th:text="${sujet.getLibelle()}"></div>
                </div>
            </div>
        </th:block>
    </div>
</section>
