<!--/*@thymesVar id="cours" type="java.util.List<fr.diginamic.digilearning.entities.Cours>"*/-->
<th:block th:replace="~{components/entete.nav :: entete('Agenda')}"></th:block>
<section class="flex p-2 bg-white h-full gap-1">
    <div id="cours-a-prevoir" class="hidden lg:flex flex-col bg-primary w-1/5 min-w-1/5 text-white rounded-md h-full shadow-dark shadow-md ">
        <th:block th:replace="pages/agenda/fragments/agenda.cours-a-prevoir"></th:block>
    </div>
    <div class="overflow-x-scroll overscroll-x-auto w-full">
        <th:block th:replace="pages/agenda/fragments/agenda.calendar"></th:block>
    </div>
</section>
