<section class="w-full">
    <div class="bg-primary p-3 text-white" th:insert="components/secondary-title :: h2('Mes cours')"></div>
    <div class="flex flex-col gap-5 p-3 w-full">
        <div class="flex justify-between items-center">
            <h3 class="w-1/5"> Mon progrès :</h3>
            <progress class="w-4/5 rounded-md" value="50" max="100" th:value="${progresCours}" ></progress>
        </div>
        <div class="w-full">
            <th:block th:replace="~{components/containers/card :: linkCard('/cours', 'Mes ressources e-learning',
         'Retrouvez ici la retranscription des cours sous format PDF, ainsi que des exercices et leurs corrigés. Vous pouvez indiquer votre progression dans les cours, demander des clarifications, et même proposer des ressources supplémentaires !')}"></th:block>
        </div>
    </div>
</section>
